/* SOME SMARTPHONES */
@media screen and (min-width: 320px) and (max-width: 650px) and (orientation: portrait) {
  .logo {
    width: 70%;
  }

  .logo h1 {
    font-size: 1.4rem;
  }

  .menu-nav-mobile {
    width: 30%;
    padding-left: 6.4rem;
  }

  .menu-nav-mobile i {
    --ggs: 1.25;
    color: #7950f2;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .hero {
    flex-direction: column;
  }

  .hero-conteudo {
    width: 100%;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .conteudo {
    width: 75%;
  }

  .conteudo h2 {
    font-size: 2.4rem;
  }

  .conteudo p {
    font-size: 1.6rem;
  }

  .conteudo button {
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
  }

  .hero-img {
    width: 100%;
  }

  .integrantes {
    margin-top: 0.8rem;
  }

  .lista-integrantes {
    font-size: 1.4rem;
    gap: 0.8rem;
  }

  .lista-integrantes li {
    font-weight: 400;
  }

  .interface {
    height: 75vh;
    flex-direction: column;
    gap: 3.2rem;
  }

  .interface-img,
  .usabilidade-img,
  .responsividade-img {
    height: 40%;
    width: 85%;
  }

  .interface-texto,
  .usabilidade-texto,
  .responsividade-texto {
    height: 40%;
    width: 85%;
  }

  .interface-texto h3,
  .usabilidade-texto h3,
  .responsividade-texto h3 {
    font-size: 2rem;
  }

  .interface-texto p,
  .usabilidade-texto p,
  .responsividade-texto p {
    font-size: 1.4rem;
  }

  .setas-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    margin: auto;
  }

  .slider {
    margin-top: 1.2rem;
    margin-bottom: 3.2rem;
  }

  .slide {
    width: 1.6rem;
    height: 1.6rem;
  }

  .desktop {
    display: none;
  }

  .navegacao {
    height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .navegacao-card.imagem,
  .navegacao-card.primeiro {
    display: none;
  }
  .navegacao-card.titulo h3,
  .navegacao-card.segundo h3 {
    font-size: 2rem;
  }

  .navegacao-card.titulo p,
  .navegacao-card.segundo p {
    font-size: 1.6rem;
  }

  .cores {
    height: 75vh;
    flex-direction: column;
  }

  .cores-cards,
  .cores-texto {
    width: 75%;
    height: 75%;
  }

  .cores-texto {
    gap: 1.4rem;
  }

  .cores-texto h3 {
    font-size: 2rem;
  }

  .cores-texto p {
    font-size: 1.4rem;
  }

  .cores-cards {
    grid-row-gap: 0.4rem;
    grid-column-gap: 0.4rem;
    margin-top: 0;
  }

  .cores-card {
    width: 80%;
    height: 80%;
  }

  .cor_1.descricao,
  .cor_2.descricao,
  .cor_3.descricao,
  .cor_4.descricao,
  .cor_5.descricao,
  .cor_6.descricao,
  .cor_7.descricao,
  .cor_8.descricao,
  .cor_9.descricao {
    font-size: 0.8rem;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .footer {
    height: 5vh;
  }
}

@media screen and (max-width: 950px) and (orientation: landscape) {
  .logo {
    width: 30%;
  }

  .logo h1 {
    font-size: 1.6rem;
  }

  .menu-nav {
    width: 70%;
  }

  .menu-nav a {
    font-size: 1.4rem;
  }

  .hero-conteudo {
    width: 50vw;
    height: 100vh;
  }

  .conteudo {
    width: 75%;
    gap: 1.6rem;
  }

  .conteudo h2 {
    font-size: 1.8rem;
  }

  .conteudo p {
    font-size: 1.4rem;
  }

  .conteudo button {
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
  }

  .hero-img {
    width: 50vw;
    height: 100vh;
  }

  .integrantes {
    height: fit-content;
    margin-top: 12.8rem;
    margin-bottom: 3.2rem;
  }

  .lista-integrantes {
    font-size: 1.4rem;
    gap: 0.8rem;
  }

  .lista-integrantes li {
    font-weight: 400;
  }

  .main {
    height: 230vh;
  }

  .interface {
    height: 75vh;
    width: 85vw;
    gap: 2.4rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
  }

  .slide {
    width: 0.8em;
    height: 0.8rem;
  }

  .interface-img,
  .usabilidade-img,
  .responsividade-img {
    width: 100%;
    height: 85%;
  }

  .interface-texto,
  .usabilidade-texto,
  .responsividade-texto {
    width: 100%;
    gap: 1.2rem;
  }

  .interface-texto h3,
  .usabilidade-texto h3,
  .responsividade-texto h3 {
    font-size: 1.8rem;
  }

  .interface-texto p,
  .usabilidade-texto p,
  .responsividade-texto p {
    font-size: 1.2rem;
  }

  .navegacao {
    width: 85vw;
    height: 75vh;
    display: flex;
  }

  .navegacao-card.imagem,
  .navegacao-card.primeiro {
    display: none;
  }

  .navegacao-card.titulo h3,
  .navegacao-card.segundo h3 {
    font-size: 1.8rem;
  }

  .navegacao-card.titulo p,
  .navegacao-card.segundo p {
    font-size: 1.4rem;
  }

  .cores {
    height: 75vh;
    margin-top: 3.2rem;
  }

  .cores-texto {
    width: 40%;
    gap: 1.6rem;
  }

  .cores-texto h3 {
    font-size: 1.8rem;
  }

  .cores-texto p {
    font-size: 1.4rem;
  }

  .cores-cards {
    width: 40%;
    height: 100%;
  }

  .cores-card {
    width: 70%;
    height: 70%;
  }

  .cor_1.descricao,
  .cor_2.descricao,
  .cor_3.descricao,
  .cor_4.descricao,
  .cor_5.descricao,
  .cor_6.descricao,
  .cor_7.descricao,
  .cor_8.descricao,
  .cor_9.descricao {
    font-size: 0.8rem;
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .footer {
    height: 10vh;
  }
}

/* SOME TABLETS */
@media screen and (min-width: 700px) and (max-width: 1150px) and (orientation: portrait) {
  .logo {
    width: 50%;
  }

  .logo h1 {
    font-size: 1.8rem;
  }

  .menu-nav a {
    font-size: 1.6rem;
  }

  .menu-nav {
    width: 50%;
    padding-left: 0;
  }

  .conteudo {
    width: 75%;
  }

  .conteudo h2 {
    font-size: 2.4rem;
  }

  .conteudo p {
    font-size: 1.6rem;
  }

  .conteudo button {
    font-size: 1.4rem;
    padding: 1.2rem 1.6rem;
  }

  .lista-integrantes {
    height: fit-content;
    font-size: 1.6rem;
    margin-top: 3.2rem;
  }

  .main {
    height: 200vh;
  }

  .interface {
    height: 65vh;
    width: 85vw;
    gap: 3.2rem;
    margin: 0 auto;
    margin-top: -6.4rem;
  }

  .interface-img,
  .usabilidade-img,
  .responsividade-img {
    width: 50%;
    height: 70%;
  }

  .interface-texto,
  .usabilidade-texto,
  .responsividade-texto {
    width: 50%;
  }

  .interface-texto h3,
  .usabilidade-texto h3,
  .responsividade-texto h3 {
    font-size: 2.4rem;
  }

  .interface-texto p,
  .usabilidade-texto p,
  .responsividade-texto p {
    font-size: 1.6rem;
  }

  .slider {
    margin-top: -6.4rem;
  }

  .navegacao {
    width: 90vw;
    height: 65vh;
  }

  .navegacao-card.primeiro {
    display: none;
  }

  .navegacao-card.segundo {
    grid-column: 3 / 5;
  }

  .navegacao-card.titulo h3,
  .navegacao-card.segundo h3 {
    font-size: 2.4rem;
  }

  .navegacao-card.titulo p,
  .navegacao-card.segundo p {
    font-size: 1.6rem;
  }

  .cores {
    height: 65vh;
    width: 100vw;
    margin-top: -9.6rem;
  }

  .cores-texto {
    width: 40%;
    height: 100%;
    gap: 1.6rem;
  }

  .cores-texto h3 {
    font-size: 2.4rem;
  }

  .cores-texto p {
    font-size: 1.6rem;
  }

  .cores-cards {
    width: 40%;
    height: 50%;
    align-items: center;
  }

  .cores-card {
    width: 80%;
    height: 60%;
  }

  .cor_1.descricao,
  .cor_2.descricao,
  .cor_3.descricao,
  .cor_4.descricao,
  .cor_5.descricao,
  .cor_6.descricao,
  .cor_7.descricao,
  .cor_8.descricao,
  .cor_9.descricao {
    font-size: 0.8rem;
  }

  .footer {
    margin-top: -9.6rem;
    height: 5vh;
  }
}

@media screen and (min-width: 900px) and (max-width: 1195px) and (orientation: landscape) {
  .menu-nav {
    padding-left: 3.2rem;
  }

  .main {
    height: 200vh;
  }

  .hero {
    margin-top: -9.6rem;
  }

  .conteudo h2 {
    font-size: 2.4rem;
  }

  .conteudo p {
    font-size: 1.8rem;
  }

  .integrantes {
    margin-top: 2.4rem;
  }

  .main {
    height: 200vh;
  }

  .interface {
    width: 95vw;
    height: 65vh;
    margin: auto;
  }

  .interface-texto h3,
  .usabilidade-texto h3,
  .responsividade-texto h3 {
    font-size: 2.4rem;
  }

  .interface-texto p,
  .usabilidade-texto p,
  .responsividade-texto p {
    font-size: 1.6rem;
  }

  .navegacao {
    width: 90vw;
    height: 65vh;
    padding-bottom: 12.8rem;
  }

  .navegacao-card.primeiro {
    display: none;
  }

  .navegacao-card.segundo {
    grid-column: 3 / 5;
  }

  .cores {
    height: 65vh;
  }

  .cores-texto {
    height: 100%;
    gap: 1.6rem;
  }

  .cores-texto h3 {
    font-size: 2.4rem;
  }

  .cores-texto p {
    font-size: 1.6rem;
  }

  .cores-cards {
    height: 60%;
    grid-row-gap: 1.2rem;
    grid-column-gap: 1.2rem;
  }

  .cores-card {
    width: 80%;
    height: 100%;
  }

  .footer {
    height: 5vh;
  }
}

/* SOME LAPTOPS */
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .menu-nav {
    padding-left: 6.4rem;
  }

  .main {
    height: 230vh;
  }

  .interface {
    width: 100vw;
    height: 75vh;
    margin-left: 3.2rem;
    margin-bottom: -1.2rem;
  }

  .navegacao {
    width: 90%;
    height: 65vh;
  }

  .cores {
    height: 65vh;
    margin-top: 30vh;
  }

  .cores-texto {
    gap: 1.6rem;
  }

  .cores-cards {
    height: 75%;
    margin-top: 6.4rem;
  }

  .cores-card {
    width: 70%;
    height: 80%;
  }

  .footer {
    height: 10vh;
  }
}
